/* Boring-sans */

@font-face {
    font-family: "Boring Sans A Light Italic";
    src: url("/font/Boring-Sans-A-Light-Italic-trial.ttf") format("truetype");
}

/* Carga la fuente Boring-Sans-A-Heavy-trial para los botones */
@font-face {
    font-family: "Boring Sans A Heavy";
    src: url("/font/Boring-Sans-A-Heavy-trial.ttf") format("truetype");
}

@font-face {
    font-family: "boring-sans-atrial";
    src: url('/font/boring-sans-a-trial.light.ttf');
}

@font-face {
    font-family: "borsing-sans-trial-bold";
    src: url('/font/Boring-Sans-A-Bold-trial.ttf');
}

/* Moller */


@font-face {
    font-family: "fuente_footer";
    src: url("/font/Mollen\ Personal\ Use-Condensed.otf");
}

@font-face {
    font-family: "moller-use-boldCondensed";
    src: url('/font/Mollen\ Personal\ Use-BoldCondensed.otf');
}



body {
    margin: 0;
}

.bloquear-body {
    overflow: hidden;
}




/* iniciio header */


/* contenedor principal */
.header-container {
    background-color: #621d1d;
    position: sticky;
    color: white;
    z-index: 1000;
    padding: 0 20px;
    height: 150px;
    font-family: "moller-use-boldCondensed";
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

/*fondo */
.efecto-espejo {
    background-image: linear-gradient(rgba(98, 29, 29, 0.8), rgba(98, 29, 29, 0)), url('/img/img-header/headerbg.jpg');
    background-position: center;
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* nav */
.navegacion__header {
    display: flex;
    justify-content: center;
    /* width: max-content;
    height: min-content; */
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;

}

.logo {
    height: 100%;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    object-fit: contain;
}

/* contenedor iconos */
.header__icon {
    width: max-content;
    height: max-content;
}


.hover-btn {
    color: rgb(255, 255, 255);
    text-decoration: none;
    max-width: max-content;
}


.icon {
    width: 3.6rem;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
}

/* se le aplica a todos los nav que tenga una Li */
nav li {
    padding: 5px;
    position: relative;
    max-width: max-content;
    gap: 50px;
    display: flex;
}

.navegacion__header ul {
    padding: 0;
    display: flex;
    gap: 50px;
}


.navegacion__header ul .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #531415;
    border: 2px solid #ffffff;
    padding: 5px;
}

/* Estilos para los enlaces y botónes */
.lista__desplegable {
    color: #ffffff;
    background-color: #531415;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    height: min-content;
}

.navegacion__header .a-submenu {
    text-decoration: none;
    color: #fff;
    width: 165px;
}

.navegacion__header li:hover ul.submenu {
    display: block;
}

.submenu .a-submenu:hover {
    background: #800000;
}



/* estilos para el menu hamburgesa */

.desplegar__menu {
    display: none;
    background: none;
    width: 3.6rem;
    height: 3.5rem;
    color: white;
    z-index: 1008;
    border-radius: 10px;
    border: 0.2em solid white;
}

.desplegar__menu i,
.cerrar__menu i {
    font-size: 2em;
}

.cerrar__menu {
    display: none;
    background: none;
    color: white;
    width: 50px;
    height: 50px;
    z-index: 1008;
    border-radius: 10px;
    border: 0.2em solid white;
}

.desplegar__menu:hover {
    cursor: pointer;
}

/* fin estilos para el menu hamburgesa */



/* fin header */

/* fondo del documento */

.fondo__mesa {
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url('/img/img-fondo/fondo_interior.jpeg');
    background-attachment: fixed;
    background-size: cover;
}

.fondo__contenedor_logo {
    background-image: url('/img/img-fondo/logo-opacidad.png');
    /* background-attachment: fixed; */
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 30%;
}

/* fin del fondo */

.modal-perfil {
    display: none;
    position: fixed;
    z-index: 13;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.modal-content-perfil,
.modal_content_recuperar_contraseña_email,
.modal_content_recuperar_contraseña_codigo,
.modal_content_recuperar_contraseña {
    display: none;
    background-color: rgb(245, 222, 179, 1);
    color: #531415;
    padding: 20px;
    border: 1px solid #888;
    max-width: 420px;
    height: max-content;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 994;
}

.modal-content-perfil h2,
.modal-content-perfil form {
    text-align: center;
    font-family: "Boring Sans A Light Italic";
}

/* modal de login  */

/* aun no se depura es perar por la actualizacion */
/* Estilos para los campos de entrada de texto */
.input__login {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #531415;
    color: #531415;
    background-color: transparent;
    outline: none;
    font-family: "fuente_footer";
    text-align: center;
    appearance: textfield;
}


.login-button {
    background-color: #531415;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Boring Sans A Heavy";
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
    width: 100%;
}

/* Estilos para el botón "¿Olvidaste tu contraseña?" */
.password-forgot {
    text-decoration: none;
    color: #531415;
    float: right;
    margin-top: 10px;
    font-family: "Boring Sans A Light Italic";
}

/* Estilos para el enlace "¿No tienes cuenta?" */
.signup-link {
    margin: 42px auto;
    font-family: "Boring Sans A Light Italic";
    text-align: center;
    font-weight: 600;
}

.signup-link span {
    font-size: 1.2rem;
    color: #862d2e;
}

.signup-link a {
    text-decoration: none;
    color: #531415;
}

/* fin del modal de login */



/* modal de reservas */


/* modal de reservas */
.contenedor__reserva {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 35px;
    transform: translate(-50%, -50%);
    z-index: 552;
    background: #f5deb3;
    border: 3px solid #852121;
    padding: 10px;
    width: 540px;
    height: max-content;
}

.form__reserva {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    padding-left: 16px;
    width: max-content;
    font-family: "fuente_footer";
}

.columnas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.columnas input {
    border: none;
    height: 30px;
    width: 25rem;
    border-bottom: 2px solid #7b1c19;
    background: none;
    text-align: center;
    color: #17305f;



}

.columnas .textarea__asunto {
    border: none;
    height: 30px;
    width: 25rem;
    font-family: "fuente_footer";
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid #7b1c19;
    background: none;
    resize: none;
    color: #17305f;

}

.columnas .textarea__comentario {
    border: none;
    height: 30px;
    width: 25rem;
    font-family: "fuente_footer";

    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid #7b1c19;
    background: none;
    resize: none;
    color: #17305f;
}


.filas {
    display: grid;
    /* divir en filas de dos */
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    align-items: center;

}

.filas input {
    font-size: 1rem;
    height: 30px;
    width: 15rem;
    border: none;
    border-bottom: 2px solid #7b1c19;
    background: none;
    text-align: center;
    color: #17305f;


}

.filas input[type="date"] {
    font-family: "fuente_footer";

}

.titulo__campos {
    width: max-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10px;
    font-family: "fuente_footer";
    font-size: 1.2rem;
    text-align: center;
    color: #17305f;
}

.aceptar__informacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 20px;
    align-items: baseline;
    gap: 10px;
    font-size: 1.3rem;
    position: relative;
    top: 20px;
}

.aceptar__informacion input[type="checkbox"] {
    height: 20px;
    width: 20px;
    font-family: "fuente_footer";

}

.botom__reservas {
    padding: 10px 10px 10px 10px;
    height: 60px;
    background: #852121;
    border: none;
    border-radius: 10px;
    font-family: "fuente_footer";
    font-size: 2rem;
    margin: 0;
    color: #fff;
    position: relative;
    top: 35px;
}

.columnas input[type="text"]:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

.columnas .textarea__asunto:focus,
.columnas .textarea__comentario:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

.filas input[type="date"]:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

.filas input[type="text"]:focus,
.filas input[type="email"]:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

/* fin de modal de reservas */

/* modal de domicilio */

/* el modal de domicio y reservas comparten clases */
.contenedor__domicilio {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    z-index: 553;
    background: #f5deb3;
    border: 3px solid #852121;
    padding: 10px;
    width: 540px;
    height: max-content;
}

.form__domicilio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    width: max-content;
    font-family: "fuente_footer";
}

.columnas__domicilio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

}


.columnas__domicilio select {
    font-size: .9em;
    height: 30px;
    width: 25rem;
    border: none;
    border-bottom: 2px solid #7b1c19;
    background: none;
    text-align: center;
    color: #17305f;
    cursor: pointer;

}

.columnas__domicilio select option {
    background: #7b1c19;
    color: #fff;

}

.filas select {
    font-size: .9em;
    height: 30px;
    width: 15rem;
    border: none;
    border-bottom: 2px solid #7b1c19;
    background: none;
    text-align: center;
    color: #17305f;
    cursor: pointer;
}

.columnas__domicilio .textarea__comentario {
    border: none;
    height: 30px;
    width: 25rem;
    font-family: "fuente_footer";
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid #7b1c19;
    background: none;
    resize: none;
    color: #17305f;
}

.filas select option {
    background: #7b1c19;
    color: #fff;

}

.columnas__domicilio .textarea__comentario:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

/* fin del modal de domicilio */


/* inicio slider */

.slider-container {
    position: relative;
    top: 0;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

/* Estilos del slider */
.slider-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    transition: opacity 1s ease-in-out;
}

/* Estilos de las imagenes */
.slider-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Estilos de los botones de control */
.slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 7;
    /* Asegurar que los botones estén encima de la imagen */
}

.slider-controls button {
    margin-right: 25px;
    margin-left: 25px;
    background-color: transparent;
    color: #000000;
    border: 2px solid #fff;
    padding: 15px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 50%;
    /* Botones redondeados */
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.slider-controls button:hover {
    background-color: #fff;
    color: #17305f;
    transform: scale(1.1);
    /* Efecto de escala al hacer hover */
}

/* fin slider */

/* inicio cartas de la categorias (index) */

.header-titulo-categoria {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 50px 50px 40px;
}

.logo__queso {
    width: 18%;
    height: 50%;
    margin-right: 30px;
    /* margin-top: 18px; */
    opacity: 0.8;
}


.header-titulo-categoria .title {
    color: #531415;
    font-family: "Boring Sans A Light Italic";
    font-size: 4.7rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin: 0;
}

/* contenedor de las categorias */
.section-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;

}

.card-container-categorias {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    /* para separar las targetas */
}

.card__categorias {
    width: 300px;
    text-align: center;
    border: 3px solid #852121;
    position: relative;
    box-sizing: border-box;
    /* Añadimos position relative para que el botón pueda usar position absolute */
}


.card__categorias img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button__categorias {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #852121;
    color: #fff;
    font-family: "Boring Sans A Heavy", sans-serif;
    font-size: 1.2rem;
    border: none;
    border-radius: 40px;
}


.button__categorias:hover {
    background-color: #852121;
    cursor: pointer;

}

/* fin cartas de la categorias (index) */



/* inicio menu*/

.menu-title {
    font-family: "Boring Sans A Light Italic";
    font-size: 4.8rem;
    text-align: center;
    padding-top: 20px;
    color: #531415;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: #531415;

}


.word-container {
    text-transform: capitalize;
    font-family: 'Boring Sans A Heavy';
    margin: 0 20px;
    width: 500px;
    font-size: 3.4rem;
    text-align: center;
}


.button {
    width: 80px;
    height: 80px;
    background-color: #531415;
    color: rgb(254, 251, 251);
    font-size: 4rem;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;

}

.button::before {
    content: '←';
    /* Para la flecha izquierda */
}

.button.next::before {
    content: '→';
    /* Para la flecha derecha */
}

/* cartas del menu */

.cards__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 80px 20px 30px 20px;
}

.card {
    width: 22rem;
    height: max-content;
    border-radius: 0;
    background-color: #f5deb3;
    border: 3px solid #531415;
    box-sizing: border-box;
}

.content__car__menu {
    width: 100%;
    height: auto;
    box-sizing: content-box;

}

.content__car__menu img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.parrafo__price {
    font-family: 'moller-use-boldCondensed';
    font-weight: 500;
    margin: 8px;
}

.parrafo__cart {
    font-family: 'boring-sans-atrial';
    font-size: 1.2rem;
    font-weight: 1000;
    max-width: 80%;
    color: #531415;
    margin: 8px;

}

.content__parrafo__agregar {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.button-container {
    position: relative;
}

.like-button {
    text-decoration: none;
    fill: #531415;
    position: absolute;
    top: 14px;
    right: 10px;
    transition: fill 0.3s;
    display: flex;
    align-items: center;
    gap: 10px;
}

.like-button strong {
    color: #fff;
    text-decoration: none;
}


.add-button {
    fill: #531415;
}

/* fin menu */

/* modal descripcion de productos o seleccion de producto */

.modal {
    display: none;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 996;

}

/* Estilos del modal */
.modal-content-menu {
    margin-top: 150px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    width: max-content;
    max-width: 800px;
    position: fixed;
    height: min-content;
}



.ladoizq {
    background-color: #f5deb3;
    border-radius: 10px 4px 4px 10px;
    padding: 10px;
    height: 100%;
    margin: 20px;
}

.content-modal-cart {
    width: 100%;
    height: 450px;
    box-sizing: content-box;
}

.imagen-cart-modal {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* fin modal descripcion de productos o seleccion de producto */

/* carrito de compra */

/*Darinson estuvo aqui*/
.carrito {
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    max-height: 100vh;
    padding: 20px;
    background: #f5deb3;
    /* Cambia el color de fondo a RGB #f5deb3 */
    transition: right .5s ease;
    z-index: 1010;
}

.carrito.active {
    right: 0;
}

.arib {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1px;
}

.equis {
    color: #531415;
    font-size: 2.5rem;
    cursor: pointer;
}

.carrito-tittle {
    font-family: "Boring Sans A Light Italic";
    color: #531415;
    font-size: 40px;
}

.icon__ubicacion {
    color: #531415;
    /* Color del icono */
    font-size: 2rem;
    margin-right: 1px;
    /* Espacio entre el icono y el texto */
    cursor: pointer;
}

.abaj {
    margin-top: 30px;
    display: flex;
    border-bottom: 1px solid #852121;
    width: 350px;
}

.ri {
    color: #17305f;
    font-family: "Boring Sans A Light Italic";
    font-size: 1.2rem;
    margin: 0px 5px 50px 5px;

}

/* parte de la mitad del modal */
.compras-content {
    padding: 8px 5px;
    max-height: 300px;
    overflow: auto;
}

/* parte de abajo del modal */
.parteabajo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.botones_abajo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #852121;
    padding-top: 10px;
    width: 350px;
}

.pay-button {
    background-color: #852121;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-family: "Boring Sans A Heavy";
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;

}

.subtotal {
    color: #fdfcfc;
    margin-top: 10px;
    background-color: #852121;
    border-radius: 10px;
    padding: 10px;
}

.clear-cart {
    background-color: RGB(133, 33, 33, 0.3);
    border: 1px solid #852121 0px;
    display: flex;
    justify-content: center;
    width: 350px;
    padding-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.clear-button {
    font-family: "Boring Sans A Heavy";
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #852121;
    margin-top: 10px;
}

.clear-icon {
    color: #852121;
    font-size: 1.5rem;
    margin-right: 5px;
}

/* estilos de los productos en el carrito */
.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.imagen-cart {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.parrafo__cart {
    font-size: 1rem;
    text-transform: uppercase;
}


.cantidad {
    border: 1px solid #852121;
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
    background: #852121;
    color: #fff;
}

.cart-remove {
    font-size: 24px;
    cursor: pointer;
    color: #852121;
}

#contador-carrito {
    position: absolute;
    top: 75%;
    right: 0;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/*Darinson estuvo aqui*/
.pay-button:hover,
.subtotal:hover {
    background-color: #531415;
}


/* fin carrito de compra */


/* inicio factura */



/* contenedor principal */
.contenedor__principal__factura {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Estilos generales para el contenedor de factura */
.contenedor__factura {
    width: max-content;
    height: max-content;
    border: 2.5px solid #852121;
    background-color: rgb(245, 222, 179);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;

}

/* Estilos para el título del encabezado */
.titulo__header {
    font-family: "boring-sans-atrial";
    font-weight: bold;
    font-size: 3rem;
    color: #852121;
    margin: 0px;
}

/* Estilos para texto general */
.texto {
    font-family: "boring-sans-atrial";
    color: #17305f;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 8px;
}

/* Separador entre secciones */
.separador {
    border-bottom: 3px solid #852121;
    padding: 10px 0;
}

/* Estilos para los campos de entrada de formulario */
.form_control {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control__input {
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #17305f;
    outline: none;
    border-bottom: 1px solid #852121;
}

.control__textarea {
    width: 350px;
    height: 60px;
    resize: none;
}

/* Estilos para los botones */
.input__radio {
    width: 20px;
    height: 20px;
    accent-color: #852121;
}

.input__text {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #fff;
    outline: none;
    text-align: center;
}

/* Estilos para la subinformación */
.sub__informacion {
    margin: 10px;
}

.sub__informacion h2 {
    display: inline-block;
    color: #17305f;
}

.sub__informacion h3 {
    font-size: 1.4rem;
    color: #17305f;
    margin: 8px;
}

.sub__informacion a {
    font-family: "boring-sans-trial-bold";
    text-decoration: none;
    font-size: 1.3rem;
}

.sub__informacion i {
    color: #852121;
    font-size: 2rem;
    padding-right: 40px;
}

/* Estilos para el cupón */
.sub__cupon {
    display: flex;
    justify-content: space-around;
}

.btn__val {
    width: 110px;
    height: 50px;
    font-family: "boring-sans-trial-bold";
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: #852121;
}

.btn__val:hover {
    background: #6b1313;
    cursor: pointer;
}

/* Estilos para la sección de pago */
.pago {
    width: max-content;
    height: min-content;
    overflow: hidden;
}

.titulos__pago {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subcontenedor__pago {
    display: flex;
    gap: 20px;
}

.metodo__pago {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Estilos para las tarjetas de pago */
.tarjeta {
    width: 250px;
    height: 60px;
    background-color: #6b1313;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
}

.tarjeta i {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #b33131;
    color: #fff;
    display: flex;
    justify-content: center;
}


/* detalle Factura */


.detafac {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 370px;
    height: 450px;
    position: relative;
    background-color: #f5deb3;
    border: 2px solid #531415;
    box-sizing: border-box;
    margin-top: 50px;
}

.detafac h2 {
    font-family: "moller-use-boldCondensed";
    font-size: 2.5rem;
    color: #531415;
    margin-top: -2px;
}


.cardDF {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.linea {
    width: 100%;
    height: 2px;
    background-color: #852121;
    margin: 5px 0;
}

.texto__factura {
    margin-top: -30px;
    font-family: "fuente_footer";
    font-size: 1.2rem;
    color: #17305f;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.texto__factura h3 {
    margin: 0;
}

.btnrp-container {
    z-index: 1;
}

.btn-rp {
    height: 60px;
    width: 200px;
    font-family: "moller-use-boldCondensed";
    font-size: 1.8rem;
    font-weight: 300;
    background-color: #8B0000;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    left: 47%;
    transform: translate(-50%, -50%);
}

.total {
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "moller-use-boldCondensed";
}

/* fin factura */

/* inicio sobre nosotros */


.header-titulo__sobre__mi {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    position: relative;
}

.header-titulo__sobre__mi .title-container {
    justify-content: center;
    display: flex;
    align-items: center;
}

.title-container .title {
    color: #531415;
    font-family: "Boring Sans A Light Italic";
    /* Usa la fuente cargada */
    font-size: 90px;
    font-style: italic;
    font-weight: 550;
    letter-spacing: 5px;
}

/* se agrego como remplazo de las propiedades anteriores */
.section-cart-sobre-mi {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-container {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
    padding: 10px;
}

.card__fotos {
    width: 400px;
    height: 500px;
    box-sizing: content-box;
    border: 3px solid #852121;
    margin-top: 50px;
}

.card__fotos img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section-cart-sobre-mi .card-parrafo {
    height: max-content;
    width: 500px;
    border: 3px solid #852121;
    background-color: #fff;
}

.card__texto__bordes h1 {
    width: 80%;
    text-align: center;
    margin-top: 0px;
    margin-left: 35px;
    margin-bottom: 40px;
    font-size: 3rem;
    font-family: "Boring Sans A Heavy";
    border-bottom: 3px solid #f5deb3;
    color: #531415;
}

.card__texto__bordes .parrafo {
    margin-left: 35px;
    margin-right: 25px;
    text-align: left;
    font-size: 1.5rem;
    color: #17305f;
}

/* fin sobre nosotros */


/* perfil Usuario */

.contenedor__info {
    display: flex;
    justify-content: end;
    align-items: baseline;
    gap: 5rem;
    padding: 20px;
    margin-bottom: 20px;
}

.contenedor__info__superior {
    display: flex;
    gap: 30px;
    align-items: baseline;
    width: max-content;
}


.contenedor__info__superior .bi-person-fill {
    font-size: 10rem;
    color: #852121;
}

.form__control__perfil {
    margin-left: 1px;
    padding: 20px 3em 30px 10px;
    background-color: RGB(247, 231, 206, 0.6);
}

.contenedor__info__superior .form__title {
    font-size: 6rem;
    color: #852121;
    font-family: "Boring Sans A Light Italic";
    margin: 0;
}


.form__submit {
    padding: 1rem .5rem 2rem;
    background-color: #852121;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-family: "Boring Sans A Heavy", sans-serif;
    width: 200px;
    height: 50px;
    margin: 8px;
}


.form__container {
    display: grid;
    gap: 3rem;
}

.form__group {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.form__group i {
    margin-top: 0.3rem;
    font-size: 1.5rem;
}

.form__group .form__input {
    width: 500px;
    height: 2.5rem;
    background: none;
    text-align: center;
    font-size: 1rem;
    border-radius: 0.5em;
    border: 2px solid #852121;
}

.form__input::placeholder {
    color: #17305f;
    font-family: "Boring Sans A Heavy", sans-serif;
}

.form__group .bi {
    margin-right: 1rem;
    color: #852121;
    font-size: 2rem;
}

/* fin perfil usuario */



/* modal editar perfil */

.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(237, 210, 167);
    padding: 0.5px;
    text-align: center;
    border-radius: 1px;
    width: 800px;
    display: flex;
}

.custom-close {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
}

.custom-title {
    color: #3498db;
    /* Cambia el color del título según tus preferencias */
}

.custom-paragraph {
    color: #2ecc71;
    /* Cambia el color del párrafo según tus preferencias */
}

/* estilos del formulario */

.form__control__perfil-dos {
    width: 1000px;
    /* Ajusta el ancho del formulario según tus necesidades */
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
}

.form__group-dos #guardar {
    margin: 0px auto;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: #60191a;
    color: white;
}

.form__container-dos {
    display: grid;
    gap: 1rem;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.icon-container i,
.icon-container ion-icon {
    color: #f5deb3;
    /* Color del icono convertido a RGB */
    font-size: 1.5rem;
}

.form__title-dos {
    font-size: 2rem;
    color: #531415;
    /* Color del título */
    font-size: 7rem;
    /* Tamaño más grande del icono */
}

.form__group-dos {
    /* display: flex; */
    align-items: center;
}

.form__group-dos i {
    margin-right: 10px;
    color: #531415;
    /* Color del icono */
    font-size: 2.5rem;
}

.form__input-dos {
    width: 60%;
    margin: 10px;
    margin-bottom: 10px;
    height: 2.5rem;
    text-align: left;
    padding-left: 15px;
    font-size: 1rem;
    border-radius: 6px;
    /* Bordes redondeados */
    border: 1px solid #531415;
    /* Color del borde del input */
}

.form__input-dos:focus {
    border-color: #722627;
    /* Cambiar a tu color deseado cuando el input está enfocado */
}

.form__input-dos::placeholder {
    color: #531415;
}

/*fin del  modal editar perfil */


/* modal Historial */

.productos1 {
    color: #17305f;
    font-family: "Boring Sans A Light Italic";
    font-weight: 900;
    text-align: center;
    /* Centra el texto horizontalmente */
    font-size: 3rem;
    /* Tamaño de fuente para el título */
}

/* Estilos para el modal */
.modal__historial {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    /* Asegura que esté en primer plano */
    overflow-y: auto;
    /* Permite hacer scroll si el contenido es largo */
}

.modal-content {
    background-color: rgb(245, 222, 179);
    width: 80%;
    max-width: 1200px;
    /* Ancho máximo del modal */
    padding: 20px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

/* Resto de los estilos para las tarjetas, imágenes, botones, etc. */
.cards__modal__historial {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(245, 222, 179, 0.1);
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.cards__modal__historial .card {
    height: min-content;
    position: relative;
    border-radius: 0;
    background-color: rgb(253, 249, 249, 0.4);
    margin: 10px;
    border: 3px solid #531415;
    flex: 0 0 calc(33.33% - 20px);
    box-sizing: border-box;
    overflow: hidden;
}


.content__modal {
    width: 100%;
    box-sizing: content-box;

}

.content__modal img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.content__modal p {
    font-family: 'Boring Sans A Light Italic';
    font-size: 1.2rem;
    font-weight: 600;
    color: #531415;
    margin-left: 20px;
    margin: 8px;
    text-align: center;

}

.like-button:hover {
    fill: white;
}

/* fin modal historil */


/* contactanos */
/*Darinson estuvo aqui*/
.contenedor_contacto {
    width: 95%;
    height: auto;
    border-radius: 8px;
    background-color: rgba(237, 210, 166, 0.6);
    margin: 0 auto;
}

.contenedor_contacto h1 {
    font-family: "Boring Sans A Light Italic";
    text-align: center;
    font-size: 3.5rem;
    color: #531415;
    margin: 0;
    padding-top: 20px;
}

.contenedor_contacto h4 {
    font-family: "Boring Sans A Heavy";
    text-align: center;
    font-size: 2rem;
    color: #531415;
}

.texto_horario {
    font-family: "fuente_footer";
    text-align: center;
    font-size: 1.5rem;
    color: #531415;

}

.contenedor_principal {
    display: flex;
    justify-content: space-between;
}

.contenedor_descripcion_contacto {
    width: 40%;
    height: 36rem;
    margin-left: 10%;
    margin-right: 5%;
    display: flex;
    background-color: #60191a;
}

.contenedor_descripcion_contacto p {
    padding: 10px;
    font-family: "boring-sans-atrial";
    text-align: left;
    font-size: 1.2rem;
    color: #fff;
}

.contenedor_formulario_contacto {
    width: 30%;
    margin-right: 10%;
    background-color: #60191a;
    margin-bottom: 10%;
    font-family: "Boring Sans A Light Italic";
    text-align: center;

}

.contenedor_formulario_contacto h2 {
    text-align: center;
    font-size: 2rem;
    color: #fff;
}


.contenedor_formulario_contacto label {
    color: #fff;
    margin-right: 48%;
    text-align: center;
}

.contenedor_formulario_contacto textarea {
    width: 90%;
    border-radius: 9px;
    margin-top: 2%;
    resize: none;
}

.contenedor_formulario_contacto input {
    border-radius: 9px;
    margin-top: 2%;
    width: 90%;
    height: 30px;
    text-align: center;
}

.contenedor_formulario_contacto .checkbox_contacto {
    width: 20px;
    height: 20px;
}


#label_privacidad {
    margin: 0px auto;
    color: #fff;
}

.contenedor_formulario_contacto button {
    margin-top: 10%;
    margin-bottom: 10%;
    background-color: #fff;
    padding: 10px 50px 5px 50px;
    border: none;
    border-radius: 25px;
    font-size: 1.2rem;
    color: #531415;
    font-family: "Boring Sans A Heavy";
}

#enviar {
    cursor: pointer;
}


/* fin contactanos */


/* informacion legal */

.container__informacion__legal {
    text-align: center;
    padding: 20px;
}

.main-title {
    font-family: "Boring Sans A Light Italic";
    color: #531415;
    font-size: 50px;
    margin-bottom: 100px;


}

.sub-title {
    font-family: "Boring Sans A Heavy";
    color: #531415;
    font-size: 18px;
    margin-bottom: 20px;


}

.legal-link {
    text-decoration: none;
    color: blue;
    transition: color 0.3s ease;

}



.separator-container {
    display: flex;
    justify-content: center;
}

.separator {
    width: 30%;
    border-top: 3px solid #800000;
    margin: 20px 0;
}

.legal-link:hover {
    color: darkblue;
}

/* fin informacion legal     */



/* inicio del footer */
footer {
    background-color: #531415;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 10px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.section__info {
    list-style: none;
    padding: 0;
}

.section__info li {
    margin-bottom: 5px;
}

.section__info_p p {
    color: #fff;
}

.section__info li a {
    color: #fff;
    text-decoration: none;
}

.social-links {
    margin-top: 4rem;
}

.social-links img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.circle-image {
    width: 10px;
    border-radius: 40%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.ubi {
    border-radius: 40%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

/* Estilos del copyright */
.derechos_autor {
    text-decoration: none;
    width: 100%;
    height: max-content;
}

/* fin del footer */

/* responsive */


@media screen and (max-width:835px) {

    /* menu hamburguesa */
    .navegacion__header {
        opacity: 0;
        visibility: hidden;
        background-color: #310345;
        flex-direction: column;
        justify-content: normal;
        width: 10rem;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1009;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .6);
    }

    .navegacion__header li {
        flex-direction: column;
    }


    .navegacion__header ul {
        flex-direction: column;
    }

    .navegacion__header a {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid white;
        margin-top: 30px;
    }

    .navegacion__header.visible {
        opacity: 1;
        visibility: visible;
        transition: .4s ease-out;

    }

    .lista__desplegable a {
        margin-top: 0;
    }

    .desplegar__menu {
        display: block;
    }

    .cerrar__menu {
        display: block;
        width: 50px;
        height: 50px;
    }

    /* perfil de usuario botones */
    .contenedor__info__superior {
        justify-content: center;
    }

    /* modal historia */
    .cards__modal__historial .card {
        flex: 0 0 calc(50% - 20px);
    }

    /* fin modal historia */

    /* modal de editar perfil */
    .custom-modal-content {
        top: 60%;
        width: 500px;
    }

    /* fin modal de editar perfil */

    /* contactanos */
    .contenedor_contacto {
        width: 95%;
    }

    .contenedor_descripcion_contacto {
        width: 50%;
        height: 39rem;
        margin-left: 20px;
        font-size: 0.9rem;
    }

    .contenedor_formulario_contacto {
        width: 40%;
        margin-right: 10px;
    }

    /* fin de contactanos */

}


@media (max-width: 768px) {

    /* index */

    /* cartas del index */

    .header-titulo-categoria .title {
        font-size: 3.8rem;
        font-weight: 600;
    }

    /* sobre mi */
    .card-container {
        width: 90%;
        gap: 20px;
    }

    .title-container .title {
        font-size: 5rem;
        font-weight: 600;
        margin: 50px 0;
    }

    .card__fotos {
        height: 100%;
        width: 100%;
    }

    .section-cart-sobre-mi .card-parrafo {
        height: auto;
    }

    .card__texto__bordes h1 {
        font-size: 4.5rem;
    }

    .card-parrafo .parrafo {
        font-size: 20px;
    }

    /* perfil de usuario */

    .form__submit {
        text-align: center;
        margin-top: 1rem;
        margin-right: 1.5rem;
    }

    .hover-btn,
    .icon {
        margin-left: 0;
    }



    /* cartas del menu(index) */

    .cards__menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .card {
        width: 100%;
        height: max-content;
        box-sizing: content-box;
    }

    /* fin cartas menu */

    /* modal de detalle de  producto */
    .traer {
        width: 470px;
    }

    .content-modal-cart {
        height: 370px;
    }

    /* fin de modal de detalle de  producto */


    /* contactanos */
    .contenedor_descripcion_contacto p {
        font-size: 0.9rem;
    }

    /* fin contactanos */



    /* footer */
    footer {
        height: max-content;
    }

    .footer-container {
        height: min-content;
    }
}


@media (max-width: 500px) {

    .logo {
        width: 100px;
        padding: 10px 10px 10px 0px;
    }

    .logo__queso {
        margin: 0;
    }

    .header__icon .lista__iconos {
        gap: 3rem;
    }

    /* perfil */

    .contenedor__info {
        display: inherit;
    }


    .form__submit {
        padding: 1rem;
        background-color: #852121;
        color: #fff;
        font-size: 1.2rem;
        border-radius: 1rem;
        border: none;
        cursor: pointer;
        font-family: "Boring Sans A Heavy", sans-serif;
        width: 10rem;
        height: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .contenedor__info__superior .bi-person-fill {
        font-size: 6rem;
    }

    .form__group .form__input {
        width: 250px;
    }

    /* modal reservas */
    .contenedor__reserva {
        top: 60%;
        width: 350px;
    }


    .columnas input {
        width: 20rem;
    }


    .columnas .textarea__asunto,
    .columnas .textarea__comentario {
        width: 20rem;
    }

    .filas {
        grid-template-columns: repeat(1, 1fr);
    }

    .filas input {
        width: 20rem;
    }

    /* fin modal reservas */

    /* modal de domicilio */

    .contenedor__domicilio {
        top: 60%;
        width: 350px;
    }

    .columnas__domicilio {
        width: 20rem;
        gap: 2rem;
    }

    .columnas__domicilio .textarea__comentario {
        width: 20rem;
    }


    .columnas__domicilio select {
        width: 20rem;
    }

    .filas select {
        width: 20rem;
    }

    /* fin del modal de domicilio */

    /* productos */

    .slider {
        gap: 20px;
    }

    .word-container {
        width: 150px;
        font-size: 1.5rem;
    }


    .button {
        width: 60px;
        height: 60px;
        font-size: 3rem;
    }

    /* fin productos */

    /* modales de login */
    .modal-content-perfil,
    .modal_content_recuperar_contraseña_email,
    .modal_content_recuperar_contraseña_codigo,
    .modal_content_recuperar_contraseña {
        width: 80%;
    }

    /* fin de modales de login */


    /* modal de menu productos */
    .cards__menu {
        grid-template-columns: 1fr;
    }

    /* fin del modal de menu productos */


    /* modal de datalle producto */
    .modal-content-menu {
        width: 330px;
    }


    .content-modal-cart {
        height: 100%;
        width: 270px;
    }

    /* fin del modal de datalle producto */

    /* modal editar perdil */
    .custom-modal-content {
        width: 400px;
    }

    /* fin modal editar perdil */

    /* carrito */
    .carrito {
        right: -115%;

    }

    /* fin carrito */

    /* contactanos */
    .contenedor_principal {
        flex-direction: column;
        gap: 20px;
    }

    .contenedor_descripcion_contacto {
        width: 90%;
        height: 31rem;
    }

    .contenedor_formulario_contacto {
        width: 90%;
        margin-left: 20px;
    }

    .contenedor_descripcion_contacto p {
        font-size: 1rem;
    }

    /* fin de contactanos */

}