/* Boring-sans */

@font-face {
    font-family: "Boring-Sans-A-Light-Italic";
    src: url("/assets/font/Boring-Sans-A-Light-Italic-trial.ttf") format("truetype");
}

/* Carga la fuente Boring-Sans-A-Heavy-trial para los botones */
@font-face {
    font-family: "Boring-Sans-A-Heavy";
    src: url("/assets/font/Boring-Sans-A-Heavy-trial.ttf") format("truetype");
}

@font-face {
    font-family: "boring-sans-atrial";
    src: url('/assets/font/boring-sans-a-trial.light.ttf');
}

@font-face {
    font-family: "borsing-sans-trial-bold";
    src: url('/assets/font/Boring-Sans-A-Bold-trial.ttf');
}

/* Moller */


@font-face {
    font-family: "fuente_footer";
    src: url("/assets/font/Mollen\ Personal\ Use-Condensed.otf");
}

@font-face {
    font-family: "moller-use-boldCondensed";
    src: url('/assets/font/Mollen\ Personal\ Use-BoldCondensed.otf');
}

/* declaracion de variables */
:root {
    --color-primary: rgb(83, 20, 21);
    --color-primary-opacity: rgb(83 20 21 / .9);
    --color-secondary: rgb(133, 33, 33);
    --color-secondary-opacity: rgb(133 33 33 / .8);
    --color-tertiary: rgb(245, 222, 179);
    --color-tertiary-opacity: rgb(245 222 179 / .8);
    --color-neutral: #ffff;
}

* {
    box-sizing: border-box;
}



body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'fuente_footer', sans-serif;
}

.bloquear-body {
    overflow: hidden;
}

.container {
    max-width: 960px;
}


/* iniciio header */


/* contenedor principal */
.header-container {
    position: sticky;
    top: 0;
    padding: .2em 1.5em;
    display: flex;
    z-index: 1000;
    font-family: "moller-use-boldCondensed";
    background-color: var(--color-primary);
    align-items: center;
    justify-content: space-between;
}

/*fondo */
.efecto-espejo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/img/img-utileria/headerbg.jpg');
    background-position: center;
    opacity: 0.1;
}

.logo {
    height: 100%;
    width: 4.5em;
    padding: .2em;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* nav */
.navegacion__header {
    position: relative;
    display: flex;
    justify-content: center;
}

.lista__paginas-header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 3rem;
    list-style: none;
}

.lista__paginas-header a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color-neutral);
}

.header__icon {
    display: flex;
    gap: 2em;
}

.boton-icon {
    position: relative;
    padding: .5em;
    border: 2px solid var(--color-neutral);
    border-radius: 10px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
}


.boton-icon i {
    font-size: 1.8rem;
    color: var(--color-neutral);
}

.submenu {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-neutral);
    border-radius: 8px;
    padding: .3em 1em;
}

/* Estilos para los enlaces y botónes */
.contenedor__seccion {
    position: relative;
}

.contenedor__seccion a {
    color: var(--color-neutral);
    text-decoration: none;
}

.contenedor__seccion .menu__usuario {
    display: none;
    border-radius: 3px;
    background-color: var(--color-primary);
    position: absolute;
    top: 65px;
    min-width: 150px;
}

.contenedor__seccion .menu__usuario::after {
    content: '';
    position: absolute;
    top: -10px;
    left: 35px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--color-neutral);
}

.boton-icon-checkbox {
    visibility: hidden;
}

.boton-icon-checkbox:checked~.menu__usuario {
    display: block;
}

.contenedor__seccion .menu__usuario ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

.contenedor__seccion .menu__usuario li a {
    display: block;
    padding: 5px;
    text-decoration: none;
}

.contenedor__seccion .menu__usuario li a:hover {
    border-radius: 3px;
    background-color: var(--color-secondary);
}



/* estilos para el menu hamburgesa */

.desplegar__menu,
.cerrar__menu {
    position: relative;
    display: none;
    background: none;
    width: 3rem;
    height: 3rem;
    padding: .5em;
    color: var(--color-neutral);
    border-radius: 10px;
    border: .1em solid var(--color-neutral);
}

.desplegar__menu i,
.cerrar__menu i {
    font-size: 2em;
}

.desplegar__menu:hover {
    cursor: pointer;
}

/* fin estilos para el menu hamburgesa */

/* fin header */

/* alerta de registro */

.alerta__inicio__session,
.alerta__usuario__creado {
    position: fixed;
    width: 100%;
    padding: .8em;
    transform: translateY(-160px);
    animation: mensaje-alerta ease-out 5s;
    background-color: var(--color-primary);
    z-index: 50;
}

.mensaje__alerta {
    margin: 0;
    font-family: 'moller-use-boldCondensed', Tahoma;
    font-size: 1.3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-neutral);
}

/* agregar la finalizacion de la animacion para las alertas del login*/
@keyframes mensaje-alerta {
    /* 0%{
        transform: translateY(-10em);
    } */

    50% {
        transform: translateY(72px);
    }

    100% {
        transform: translateY(-160px);
    }
}


/* fin alerta de registro */


/* fondo del documento */

.fondo__mesa {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
    opacity: 0.1;
    top: 0;
}

.fondo__contenedor__logo {
    position: absolute;
    left: 40%;
    bottom: 12em;
    width: 20em;
    height: 20em;
    object-fit: contain;
}


/* fin del fondo */


/* modales para el login,registro y recuperación */

.modal-perfil {
    display: none;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /.4);
    overflow: hidden;
}

.modal-content-perfil,
.modal_content_recuperar_contraseña_email,
.modal_content_recuperar_contraseña_codigo,
.modal_content_recuperar_contraseña {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    padding: 20px;
    border: 2px solid var(--color-secondary);
    border-radius: 20px;
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    transform: translate(-50%, -50%);
    z-index: 994;
}

.modal-content-perfil {
    width: 500px;
}

.modal-content-perfil h2,
.modal-content-perfil form {
    text-align: center;
    font-family: "Boring-Sans-A-Light-Italic";
}

.contenedor__input__login {
    position: relative;
}

.icon__login {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 1.5rem;
}

/* modal de login  */

/* Estilos para los campos de entrada de texto */
.input__login {
    width: 100%;
    padding: .8em;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
    outline: none;
    font-family: "fuente_footer";
    text-align: center;
    appearance: textfield;
}


.login-button {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Boring-Sans-A-Heavy";
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s;
    width: 100%;
}

/* Estilos para el botón "¿Olvidaste tu contraseña?" */
.password-forgot {
    text-decoration: none;
    color: var(--color-primary);
    position: relative;
    right: 0;
    margin-top: 10px;
    font-family: "Boring-Sans-A-Light-Italic";
    cursor: pointer;
}

/* Estilos para el enlace "¿No tienes cuenta?" */
.signup-link {
    margin: 8px auto;
    font-family: "Boring-Sans-A-Light-Italic";
    text-align: center;
    font-weight: 600;
}



.signup-link span {
    font-size: 1.2rem;
    color: var(--color-secondary);
    cursor: pointer;
}

.signup-link a {
    text-decoration: none;
    color: var(--color-primary);
}

.password-forgot:active {
    color: var(--color-secondary);
}

.signup-link span:active {
    color: var(--color-primary);
}

/* fin del modal de login */



/* inicio slider */

.slider-container {
    position: relative;
    width: 100%;
    height: 30em;
    margin-bottom: 1.5em;

}

/* Estilos del slider */
.slider-slide {
    position: relative;
    width: 100%;
    height: 30em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: opacity 1s ease-in-out;
    box-sizing: content-box;
    overflow: hidden;


}

/* Estilos de las imagenes */
.slider-slide img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 423px;
    min-width: 100%;
    outline: 2px solid red;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.img-slider {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img-slider.visible {
    opacity: 1;
}

/* Estilos de los botones de control */
.slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Asegurar que los botones estén encima de la imagen */
}


.slider-controls button {
    margin-right: 25px;
    margin-left: 25px;
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-neutral);
    padding: 1em 1.3em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.slider-controls button:active {
    background-color: var(--color-neutral);
    transform: scale(1.1);
}

/* fin slider */



/* inicio cartas de la categorias (index) */

.card__container {
    width: 95%;
    /* max-height: 400px; */
    overflow: auto;
    padding: .5em;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: .5em;
    justify-content: space-around;
    justify-items: center;
}

.titulo__categorias {
    height: min-content;
    margin: 1rem;
    /* ocupa toda la columna */
    text-align: center;
    font-family: 'boring-sans-atrial', Tahoma;
    font-size: 4rem;
    grid-column: 1 / -1;
    color: var(--color-primary);
}

.logo-queso {
    padding: .2em;
}

.logo-queso i {
    font-size: 5rem;
}

.card__categoria {
    position: relative;
    width: 18em;
    height: 22em;
    overflow: hidden;
    border: .2em solid var(--color-primary);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.header__card {
    position: relative;
    width: 100%;
    height: 22rem;
    box-sizing: content-box;
}

.header__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.boton__categoria {
    position: absolute;
    bottom: 0;
    border: 2px solid var(--color-neutral);
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Boring-Sans-A-Heavy', Tahoma;
}

.boton__categoria h2 {
    margin: 0;
    font-size: 0;
}

.enlace__categoria {
    padding: .3em 1em;
    display: inline-block;
    border: none;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-neutral);

}

.boton__categoria:active {
    transform: scale(.98);
}


/* fin cartas de la categorias (index) */

.container__card-productos {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
}

.card__container-title-category {
    width: 200px;
    padding: .1em 1em;
    margin-left: 1em;
    background-color: var(--color-secondary);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.card__container-title-category h2 {
    margin: 0;
    color: var(--color-neutral);
    text-align: left;
    text-transform: capitalize;
}











/* inicio menu*/


.menu-title {
    margin: 0;
    margin-bottom: 1em;
    font-family: "Boring-Sans-A-Heavy", Tahoma;
    font-size: 3.8rem;
    text-align: center;
    color: var(--color-primary);
}

/* cartas del menu */

.card__menu {
    position: relative;
    background-color: var(--color-tertiary-opacity);
    width: 18em;
    height: max-content;
    color: var(--color-primary);
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.like-button {
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 20;
    width: 120px;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-neutral);
    background-color: var(--color-secondary-opacity);
    letter-spacing: 5px;
    text-decoration: none;
}

.like-button i {
    font-size: 1.8rem;
}


.content__car__menu {
    position: relative;
    width: 100%;
    height: 12em;
    box-sizing: content-box;
}

.content__car__menu img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__parrafo__agregar {
    padding: .2em;
}

.content__parrafo__agregar p,
.content__parrafo__agregar h2 {
    margin: 0;
}

.content__parrafo__agregar h2 {
    width: 100%;
    height: 30px;
    overflow: hidden;
    font-size: 1.5rem;
    font-family: 'moller-use-boldCondensed', sans-serif;
    text-align: left;
}

.content__parrafo__agregar .parrafo__cart,
.content__parrafo__agregar,
.parrafo__price {
    font-family: 'fuente_footer', sans-serif;

}

.parrafo__price {
    margin: .2em 0;
    font-size: 1.4rem;
    text-align: left;
}

/* .content__parrafo__agregar .parrafo__cart {
    font-size: 1rem;
    line-height: 1.2;
} */

.contenedor__acciones {
    display: flex;
    gap: 1em;
}

.footer__card {
    padding-right: .5em;
    display: flex;
    width: 100%;
    justify-content: space-between;
}


.add-button,
.like {
    color: var(--color-secondary);
    font-size: 1.8rem;
    text-align: center;
}

.like {
    font-size: 1.7em;
}

.pie__card {
    width: 100%;
    padding: .1em;
    margin-top: 1px;
    font-size: 1em;
    text-align: center;
    background-color: var(--color-primary);
    font-family: 'moller-use-boldCondensed', sans-serif ;
    color: #fff;
    transform: scale(1.3);
    text-transform: capitalize;
}



/* fin menu */

/* modal descripcion de productos o seleccion de producto */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: .1em;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;

}

/* Estilos del modal */
.modal-content-menu {
    margin: 10% auto;
    width: 50%;
    height: 70%;
    padding: .7em;
    background-color: rgba(255 255 255 / .2);
    border-radius: 5px;
}



.ladoizq {
    border-radius: 10px;
    overflow: hidden;
}

.content-modal-cart {
    position: relative;
    height: 31em;
    box-sizing: content-box;
    width: 100%;
}

.imagen-cart-modal {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* fin modal descripcion de productos o seleccion de producto */










/* carrito de compra */

.carrito {
    position: fixed;
    top: 0;
    right: -400%;
    width: 360px;
    max-height: 100vh;
    padding: 20px;
    background: var(--color-tertiary);
    transition: right .5s ease;
    z-index: 1010;
}

.active {
    right: 0;
}

.arib {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1px;
}

.equis {
    border: 2px solid var(--color-primary);
    padding: .2em;
    border-radius: 100%;
    color: var(--color-primary);
    font-size: 1.5rem;
    cursor: pointer;
}

.carrito-tittle,
.message__cart--empty {
    margin: .3em;
    font-family: "Boring-Sans-A-Light-Italic";
    font-size: 2rem;
    color: var(--color-primary);
}

.message__cart--empty {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}

.icon__ubicacion {
    color: var(--color-primary);
    font-size: 2rem;
    margin-right: 1px;
    cursor: pointer;
}

.abaj {
    margin: .5em;
    padding: .5em;
    display: flex;
    border-bottom: 1px solid var(--color-secondary);
}

.ri {
    width: 227px;
    height: 20px;
    margin: 0;
    overflow: hidden;
    font-family: "fuente_footer";
    font-size: 1.2rem;
    text-overflow: ellipsis;
    color: var(--color-primary);
    writing-mode: lr;

}

/* parte de la mitad del modal */
.compras-content {
    padding: 8px 5px;
    max-height: 300px;
    overflow: auto;
}


.cart-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cart-content-producto {
    display: flex;
    width: 100%;
    height: max-content;
}

.header__card-img {
    width: 5em;
    height: 4em;
}

.titulo__carta-carrito {
    margin: 0;
    margin-left: .3em;
    text-align: left;
    font-family: 'moller-use-boldCondensed', Tahoma;
    font-size: 1.3rem;
    color: var(--color-primary);
}

.parrafo__cart-menu {
    margin: 0;
    width: max-content;
}




/* parte de abajo del modal */

.parteabajo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.botones_abajo {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

.botones_abajo a {
    text-decoration: none;
}

.pay-button {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    padding: 10px 20px;
    border: none;
    font-family: "Boring-Sans-A-Heavy";
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;

}

.subtotal {
    color: var(--color-neutral);
    margin-top: 10px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 10px;
}

.clear-cart {
    width: 100%;
    padding: .4em;
    margin-top: 5px;
    border: 1px solid var(--color-secondary);
    background-color: rgb(133 33 33 / 0.3);
    text-align: center;
}

.clear-button {
    font-family: "Boring-Sans-A-Heavy";
    text-decoration: none;
    color: var(--color-secondary);
}

.clear-icon {
    color: inherit;
    font-size: 1.4rem;
    margin-right: 10px;
}

.clear-cart:hover .clear-button {
    cursor: pointer;

}

/* estilos de los productos en el carrito */

.detail-box {
    position: relative;
    width: 100%;
}

.carta__informacion {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.parrafo__cart {
    font-size: 1rem;
    text-transform: uppercase;
    min-height: 6em;
}


.cantidad {
    font-size: 1.3rem;
    color: var(--color-secondary);
    margin: 0;
}

.cart-remove,
.cart__icon-color {
    font-size: 1.4rem;
    color: var(--color-secondary);
    cursor: pointer;
}

#contador-carrito {
    position: absolute;
    top: 70%;
    right: 0;
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    padding: .2em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*Darinson estuvo aqui*/
.pay-button:hover,
.subtotal:hover {
    background-color: var(--color-primary);
}


/* fin carrito de compra */


/* inicio factura */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.titulo__header {
    font-family: "boring-sans-atrial";
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-secondary);
    margin: 0px;
}

.titulo__header-button {
    font-size: 4rem;
    text-align: center;
    margin: .5em 0;
}

.text-muted-longitud {
    width: 140px;
    height: 13px;
    display: inline-block;
    overflow: hidden;
    writing-mode: lr;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.main-content h4,
.main-content h6,
.main-content span {
    color: var(--color-secondary);
}

.color-text-factura {
    color: var(--color-secondary);
}

.metodo__pago-efecto:hover {
    background-color: var(--color-secondary);
}

.needs-validation input,
.needs-validation span {
    border-color: var(--color-primary);
}

.bgr-color-span,
.bgr-color-boton {
    background: var(--color-primary);
    color: var(--color-neutral);
}

.bgr-color-boton {
    border: none;
}

.bgr-color-boton:hover {
    background: var(--color-secondary);
}


.metodo__pago {
    display: flex;
    flex-direction: column;
}

.btn-pago-distribucion {
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

.btn-pago-distribucion:active{
    background-color: var(--color-secondary)!important;
}

.tarjeta {
    width: 250px;
    height: 60px;
    background-color: var(--color-primary);
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tarjeta label,
.tarjeta a {
    font-size: 1.2rem;
    color: var(--color-neutral);

}

.tarjeta a {
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    gap: 5em;
}

.tarjeta i {
    font-size: 1.5rem;
    color: var(--color-neutral);
    display: flex;
    justify-content: center;
}

.text-muted-color,
.form-label-color {
    color: var(--color-secondary-opacity) !important;
}

.form-label-color {
    font-size: 1.2rem;
}

/* fin factura */



/* inicio sobre nosotros */

.contenedor__sobre__mi {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title {
    font-family: "Boring-Sans-A-Heavy", Tahoma;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    color: var(--color-primary);
}

/* se agrego como remplazo de las propiedades anteriores */
.section-cart-sobre-mi {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-container {
    width: 90%;
    padding: 1em;
}

.card__fotos {
    /* width: 20em; */
    width: 100%;
    height: 20em;
    border: 2px solid var(--color-secondary);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    box-sizing: content-box;
}

.card__fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-cart-sobre-mi .card-parrafo {
    /* max-width: 400px; */
    max-height: 320px;
    margin-top: 10px;
    border: 3px solid var(--color-secondary);
    background-color: var(--color-neutral);
    overflow: auto;
}

.contenedor__parrafo {
    padding: .5em;
}

.card__texto__bordes h2 {
    margin: 0;
    text-align: center;
    font-size: 2.8rem;
    font-family: "Boring-Sans-A-Heavy";
    border-bottom: 3px solid var(--color-tertiary);
    color: var(--color-primary);
}

.card__texto__bordes .parrafo {
    margin: 0;
    padding: .5em;
    font-size: 1.2rem;
    text-align: justify;
    color: var(--color-secondary);
}



/* fin sobre nosotros */



/* perfil Usuario */

.contenedor__info__superior {
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 2em;
}

.form__submit {
    margin: 8px;
    padding: .7rem 2em;
    border: none;
    border-radius: 10px;
    font-family: "Boring-Sans-A-Heavy", sans-serif;
    font-size: 1.2rem;
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    cursor: pointer;
}


.contenedor__info__superior .bi-person-fill {
    font-size: 10rem;
    color: var(--color-secondary);
}

.form__control__perfil {
    margin-left: 1px;
    padding: 1em;
    background-color: var(--color-tertiary-opacity);
}

.form__title,
.form__subtitle {
    color: var(--color-secondary);
    font-family: "Boring-Sans-A-Light-Italic";
    margin: 0;

}

.form__title {
    font-size: 6rem;
}

.form__subtitle {
    margin-bottom: 1em;
    text-align: center;
    font-size: 3rem;

}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.form__group {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 0.5em;
}

.form__group i {
    font-size: 1.5rem;
    width: 50px;
    /* outline: 2px solid red; */
    border: 2px solid var(--color-primary);
    height: 47px;
    border-radius: 10px;
    padding: .4em;
    color: var(--color-primary);
}

.form__group .form__input {
    width: 500px;
    height: 2.5em;
    background: none;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.5em;
    border: 2px solid var(--color-secondary);
    font-family: "fuente_footer", sans-serif;

}

/*cambiar color de */

.form__input:focus {
    outline: 2px solid var(--color-secondary);
}

.form__group .bi {
    margin-right: 1rem;
    color: var(--color-secondary);
    font-size: 2rem;
}

/* fin perfil usuario */



/* modal editar perfil */

.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-modal-content {
    position: relative;
    width: 500px;
    padding: 0.5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--color-tertiary);
    margin: 10em auto;

}

.custom-close {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-neutral);
    border-radius: 50%;
}



/* estilos del formulario */

.form__control__perfil-dos {
    width: 90%;
    border-radius: 10px;
}


.form__container-dos {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}


.form__title-dos {
    font-size: 2rem;
    color: var(--color-primary);
    font-size: 6rem;
}

.form__group-dos {
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: .5em;
}

.form__group-dos i {
    color: var(--color-primary);
    font-size: 1.8rem;
}

.alerta__color-rojo i {
    font-size: 1.2rem;
}

.form__input-dos {
    width: 60%;
    margin: 10px;
    margin-bottom: 10px;
    height: 2.5rem;
    text-align: left;
    padding-left: 15px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid var(--color-primary);
}


.form__input-dos:focus {
    outline: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.form__submit-editar:active {
    background-color: var(--color-primary-opacity);
    transform: scale(1.1);
}

/*fin del  modal editar perfil */














/* modal Historial */

.contenedor__card__historia {
    max-height: 400px;
    overflow: auto;
}

.productos1 {
    margin: 0;
    color: var(--color-secondary);
    text-shadow: 1px 2px 3px var(--color-secondary);
    font-family: "Boring-Sans-A-Light-Italic";
    text-align: center;
    font-size: 3rem;
}

/* Estilos para el modal */
.modal__historial {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 30;
}

.modal-content {
    width: 80%;
    min-height: 500px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: var(--color-tertiary);
    transform: translate(0, 25%);
}

.close {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-neutral);
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

.content__car__menu-img{
    height: 7em;
}

.text__maximo{
    max-height: 5em;
}


.cards__modal__historial {
    width: 15em;
    height: 19em;
}


/* fin modal historil */





/* informacion legal */

.container__informacion__legal {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 8px;
}

.subcontenedor__informacion__legal {
    width: 100%;
    padding: .5em;
    text-align: center;
    border-bottom: 3px solid var(--color-primary);
}

.main-title {
    margin: 0;
    font-family: "Boring-Sans-A-Light-Italic";
    font-size: 3rem;
    color: var(--color-primary);
}

.sub-title {
    font-family: "Boring-Sans-A-Heavy";
    color: var(--color-primary);
    font-size: 18px;
    margin-bottom: 20px;


}

.legal-link {
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 0.3s ease;

}


/* fin informacion legal     */



/* inicio del footer */

.footer {
    width: 100vw;
    padding: 1em 2em;
    margin-top: auto;
    display: flex;
    background-color: var(--color-primary);
    font-family: 'fuente_footer', sans-serif;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--color-neutral);
    overflow: hidden;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__nav .titulo {
    font-size: 1.5rem;
    margin: 0;
    color: var(--color-neutral);
}

.footer__nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--color-neutral);

}

.copy {
    font-weight: bold;
}

.redes__sociales {
    position: relative;
    display: flex;
    text-align: center;
    gap: 1em;

}

.redes__sociales a {
    border: 2px solid var(--color-neutral);
    text-decoration: none;
    color: inherit;
    width: 3.5em;
    padding: .3rem;
    border-radius: 10px;
}

.redes__sociales i {
    font-size: 2.5em;
}

/* fin del footer */

/* responsive */


@media screen and (max-width:835px) {

    /* menu hamburguesa */
    .navegacion__header {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 35vw;
        opacity: 1;
        padding: 1rem;
        visibility: hidden;
        flex-direction: column;
        justify-content: normal;
        z-index: 10;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .6);
        background-color: var(--color-primary);

    }

    .navegacion__header ul {
        padding: .5em;
        flex-direction: column;
        align-items: center;
        gap: 5em;
    }

    .navegacion__header.visible {
        display: flex;
        gap: 2em;
        visibility: visible;
        transition: .4s ease-out;
    }

    .desplegar__menu {
        display: block;
    }

    .cerrar__menu {
        position: relative;
        left: 3em;
        width: 4em;
        height: 4em;
        display: block;
    }


    .fondo__contenedor__logo {
        bottom: 13em;
    }




    /* modal historia */
    .cards__modal__historial .card {
        flex: 0 0 calc(50% - 20px);
    }


    /* fin de contactanos */


    .footer {
        gap: 2em;
    }

}


@media (max-width: 768px) {


    .fondo__contenedor__logo {
        left: 30%;
        width: 15em;
        height: 15em;
        bottom: 0;
    }

    .contenedor {
        width: 95%;
        padding-bottom: 3em;
        align-items: center;
        flex-direction: column;
    }

    /* titulo productos */
    .menu-title {
        font-size: 3rem;
    }

    .card__texto__bordes h2 {
        font-size: 2rem;
    }

    /* perfil de usuario */

    .form__group {
        width: 90%;
    }

    .form__group .form__input {
        width: 100%;
    }

    .productos1 {
        font-size: 2.5rem;
    }

    /*Factura*/

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }




    /* footer */
    .footer {
        overflow: hidden;
    }
}


@media (max-width: 500px) {

    .fondo__contenedor__logo {
        left: 10%;
        width: 12em;
        height: 12em;
    }


    .boton-icon {
        font-size: 1rem;
    }

    /* contenido cart */
    .titulo__categorias {
        font-size: 3rem;
    }

    .logo-queso i {
        font-size: 4rem;
    }

    .card__container {
        gap: 1em;
    }

    .card__categoria {
        width: 14em;
        height: 22em;
    }



    .titulo__header {
        font-size: 2.3rem;
    }


    .main-title {
        font-size: 2rem;
    }

    /* perfil */

    .modal-content-menu {
        margin-top: 40%;
        height: 40%;
        width: 100%;
    }

    .content-modal-cart {
        height: 16em;
    }

    .form__title {
        font-size: 4rem;
    }

    .contenedor__info__superior .bi-person-fill {
        font-size: 5rem;
    }

    .form__submit {
        padding: .7rem 1em;
        font-size: 1rem;
    }

    /* productos */


    .word-container {
        font-size: 2rem;
    }


    .button {
        padding: .3em;
    }

    /* fin productos */


    /* modales de login */
    .modal-content-perfil,
    .modal_content_recuperar_contraseña_email,
    .modal_content_recuperar_contraseña_codigo,
    .modal_content_recuperar_contraseña {
        width: 80%;
    }


}

@media (max-width: 321px) {

    .header-container {
        padding: .2em .4em;
    }

    .logo {
        height: 100%;
        width: 3em;
        padding: .1em;
    }

    .boton-icon {
        font-size: .1rem;
        padding: 2em;
    }

    .desplegar__menu,
    .cerrar__menu {
        width: 2.5em;
        height: 2.5em;
        padding: .2rem;
    }

    .desplegar__menu i,
    .cerrar__menu i {
        font-size: 1.3rem;
    }



    .navegacion__header ul {
        gap: 3em;
    }


    .card__menu {
        width: 14em;
    }

    .content__car__menu {
        height: 10em;
    }

    .content__parrafo__agregar .parrafo__price {
        font-size: 1.2rem;
    }

    .content__parrafo__agregar .parrafo__card {
        font-size: .9rem;
        line-height: 0;
    }

    .agregar__carrito {
        padding: .4em;
    }


    .carrito {
        width: 100%;
    }

    /* slider de menu */
    .word-container {
        font-size: 1.5rem;
    }


    .button {
        padding: .3em;
    }

    .button i {
        font-size: 1.5rem;
    }

    .cards__modal__historial {
        width: 11em;
    }


    .productos1 {
        font-size: 1rem;
    }

    /* perfil */
}