/* Boring-sans */

@font-face {
    font-family: "Boring-Sans-A-Light-Italic";
    src: url("/assets/font/Boring-Sans-A-Light-Italic-trial.ttf") format("truetype");
}

/* Carga la fuente Boring-Sans-A-Heavy-trial para los botones */
@font-face {
    font-family: "Boring-Sans-A-Heavy";
    src: url("/assets/font/Boring-Sans-A-Heavy-trial.ttf") format("truetype");
}

@font-face {
    font-family: "boring-sans-atrial";
    src: url('/assets/font/boring-sans-a-trial.light.ttf');
}

@font-face {
    font-family: "borsing-sans-trial-bold";
    src: url('/assets/font/Boring-Sans-A-Bold-trial.ttf');
}

/* Moller */


@font-face {
    font-family: "fuente_footer";
    src: url("/assets/font/Mollen\ Personal\ Use-Condensed.otf");
}

@font-face {
    font-family: "moller-use-boldCondensed";
    src: url('/assets/font/Mollen\ Personal\ Use-BoldCondensed.otf');
}

/* declaracion de variables */
:root {
    --color-primary: rgb(83, 20, 21);
    --color-primary-opacity: rgb(83 20 21 / .9);
    --color-secondary: rgb(133, 33, 33);
    --color-secondary-opacity: rgb(133 33 33 / .8);
    --color-tertiary: rgb(245, 222, 179);
    --color-tertiary-opacity: rgb(245 222 179 / .8);
    --color-neutral: #ffff;
}

* {
    box-sizing: border-box;
}



body {
    position: relative;
    min-height: 100vh;
}

.bloquear-body {
    overflow: hidden;
}


/* iniciio header */


/* contenedor principal */
.header-container {
    position: sticky;
    top: 0;
    padding: .2em 1.5em;
    display: flex;
    z-index: 1000;
    font-family: "moller-use-boldCondensed";
    background-color: var(--color-primary);
    align-items: center;
    justify-content: space-between;
}

/*fondo */
.efecto-espejo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/assets/img/img-utileria/headerbg.jpg');
    background-position: center;
    opacity: 0.1;
}

.logo {
    height: 100%;
    width: 4.5em;
    padding: .2em;
    box-sizing: border-box;
}

.logo img {
    width: 100%;
    height: 100%;
    opacity: 0.9;
    object-fit: contain;
}

/* nav */
.navegacion__header {
    position: relative;
    display: flex;
    justify-content: center;
}

.lista__paginas-header {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 3rem;
    list-style: none;
}

.lista__paginas-header a {
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--color-neutral);
}

.header__icon {
    display: flex;
    gap: 2em;
}

.boton-icon {
    position: relative;
    border: 2px solid var(--color-neutral);
    background-color: transparent;
    padding: .5em;
    border-radius: 10px;
}

.boton-icon i {
    font-size: 1.8rem;
    color: var(--color-neutral);
}



.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--color-primary);
    border: 2px solid var(--color-neutral);
    padding: 5px;
    list-style: none;
}

/* Estilos para los enlaces y botónes */
.lista__desplegable {
    position: relative;
    padding: .2em;
    color: var(--color-neutral);
    background-color: var(--color-secondary);
    border: 2px solid var(--color-neutral);
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;

}

.navegacion__header .a-submenu {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--color-neutral);
    width: 100%;

}

.navegacion__header li:hover ul.submenu {
    display: block;
}

.submenu .a-submenu:hover {
    background: var(--color-secondary);
}



/* estilos para el menu hamburgesa */

.desplegar__menu,
.cerrar__menu {
    position: relative;
    display: none;
    background: none;
    width: 3rem;
    height: 3rem;
    padding: .5em;
    color: var(--color-neutral);
    border-radius: 10px;
    border: .1em solid var(--color-neutral);
}

.desplegar__menu i,
.cerrar__menu i {
    font-size: 2em;
}

.desplegar__menu:hover {
    cursor: pointer;
}

/* fin estilos para el menu hamburgesa */

/* fin header */

/* alerta de registro */

.alerta__inicio__session,
.alerta__usuario__creado {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: .8em;
    animation: mensaje-alerta linear 2s;

    background-color: var(--color-primary);
}

.mensaje__alerta{
    margin: 0;
    font-family: 'moller-use-boldCondensed', Tahoma;
    font-size: 1.3rem;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-neutral);
}

/*agregar la finalizacion de la animacion para las alertas del login*/
@keyframes mensaje-alerta {
    0% {
        transform: translateY(-140%);
    }
}


/* fin alerta de registro */


/* fondo del documento */

.fondo__mesa {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1000;
    opacity: 0.1;
    top: 0;
}

.fondo__contenedor__logo {
    position: absolute;
    left: 40%;
    bottom: 12em;
    width: 20em;
    height: 20em;
    object-fit: contain;
}


/* fin del fondo */


/* modales para el login,registro y recuperación */

.modal-perfil {
    display: none;
    position: fixed;
    z-index: 40;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 /.4);
    overflow: hidden;
}

.modal-content-perfil,
.modal_content_recuperar_contraseña_email,
.modal_content_recuperar_contraseña_codigo,
.modal_content_recuperar_contraseña {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    padding: 20px;
    border: 2px solid var(--color-secondary);
    border-radius: 20px;  
    background-color: var(--color-tertiary);
    color: var(--color-primary);
    transform: translate(-50%, -50%);
    z-index: 994;
}

.modal-content-perfil{
    width: 500px;
}

.modal-content-perfil h2,
.modal-content-perfil form {
    text-align: center;
    font-family: "Boring-Sans-A-Light-Italic";
}

.contenedor__input__login{
    position: relative;
}

.icon__login{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 1.5rem;
}

/* modal de login  */

/* Estilos para los campos de entrada de texto */
.input__login {
    width: 100%;
    padding: .8em;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
    background-color: transparent;
    outline: none;
    font-family: "fuente_footer";
    text-align: center;
    appearance: textfield;
}


.login-button {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Boring-Sans-A-Heavy";
    font-size: 1rem;
    margin-top: 20px;
    transition: background-color 0.3s;
    width: 100%;
}

/* Estilos para el botón "¿Olvidaste tu contraseña?" */
.password-forgot {
    text-decoration: none;
    color: var(--color-primary);
    position: relative;
    right: 0;
    margin-top: 10px;
    font-family: "Boring-Sans-A-Light-Italic";
    cursor: pointer;
}

/* Estilos para el enlace "¿No tienes cuenta?" */
.signup-link {
    margin: 8px auto;
    font-family: "Boring-Sans-A-Light-Italic";
    text-align: center;
    font-weight: 600;
}



.signup-link span {
    font-size: 1.2rem;
    color: var(--color-secondary);
    cursor: pointer;
}

.signup-link a {
    text-decoration: none;
    color: var(--color-primary);
}

.password-forgot:active{
    color: var(--color-secondary);
}
.signup-link span:active{
    color: var(--color-primary);
}



/* fin del modal de login */


/* modal de reservas */
.contenedor__reserva {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 35px;
    transform: translate(-50%, -50%);
    z-index: 552;
    background: var(--color-tertiary);
    border: 3px solid var(--color-primary);
    padding: 10px;
    width: 540px;
    height: max-content;
}

.form__reserva {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    padding-left: 16px;
    width: max-content;
    font-family: "fuente_footer";
}

.columnas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.columnas input {
    border: none;
    height: 30px;
    width: 25rem;
    border-bottom: 2px solid #7b1c19;
    background: none;
    text-align: center;
    color: var(--color-primary);



}

.columnas .textarea__asunto {
    border: none;
    height: 30px;
    width: 25rem;
    font-family: "fuente_footer";
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid var(--color-secondary);
    background: none;
    resize: none;
    color: var(--color-primary);

}

.columnas .textarea__comentario {
    border: none;
    height: 30px;
    width: 25rem;
    font-family: "fuente_footer";

    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid var(--color-secondary);
    background: none;
    resize: none;
    color: var(--color-primary);
}


.filas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    align-items: center;

}

.filas input {
    font-size: 1rem;
    height: 30px;
    width: 15rem;
    border: none;
    border-bottom: 2px solid var(--color-secondary);
    background: none;
    text-align: center;
    color: var(--color-primary);


}

.filas input[type="date"] {
    font-family: "fuente_footer";

}

.titulo__campos {
    width: max-content;
    height: min-content;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10px;
    font-family: "fuente_footer";
    font-size: 1.2rem;
    text-align: center;
    color: var(--color-primary);
}

.aceptar__informacion {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    margin-left: 20px;
    align-items: baseline;
    gap: 10px;
    font-size: 1.3rem;
    position: relative;
    top: 20px;
}

.aceptar__informacion input[type="checkbox"] {
    height: 20px;
    width: 20px;
    font-family: "fuente_footer";

}

.botom__reservas {
    padding: 10px 10px 10px 10px;
    height: 60px;
    background: var(--color-secondary);
    border: none;
    border-radius: 10px;
    font-family: "fuente_footer";
    font-size: 2rem;
    margin: 0;
    color: var(--color-neutral);
    position: relative;
    top: 35px;
}

.columnas input[type="text"]:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

.columnas .textarea__asunto:focus,
.columnas .textarea__comentario:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

.filas input[type="date"]:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

.filas input[type="text"]:focus,
.filas input[type="email"]:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}

/* fin de modal de reservas */

/* modal de domicilio */

/* el modal de domicio y reservas comparten clases */
.contenedor__domicilio {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    transform: translate(-50%, -50%);
    z-index: 553;
    background: var(--color-tertiary);
    border: 3px solid var(--color-secondary);
    padding: 10px;
    width: 540px;
    height: max-content;
}

.form__domicilio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
    width: max-content;
    font-family: "fuente_footer";
}

.columnas__domicilio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

}


.columnas__domicilio select {
    font-size: .9em;
    height: 30px;
    width: 25rem;
    border: none;
    border-bottom: 2px solid var(--color-secondary);
    background: none;
    text-align: center;
    color: var(--color-primary);
    cursor: pointer;

}

.columnas__domicilio select option {
    background-color: var(--color-secondary);
    color: var(--color-neutral);

}

.filas select {
    font-size: .9em;
    height: 30px;
    width: 15rem;
    border: none;
    border-bottom: 2px solid var(--color-secondary);
    background: none;
    text-align: center;
    color: var(--color-primary);
    cursor: pointer;
}

.columnas__domicilio .textarea__comentario {
    border: none;
    height: 30px;
    width: 25rem;
    font-family: "fuente_footer";
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid var(--color-secondary);
    background: none;
    resize: none;
    color: var(--color-primary);
}

.filas select option {
    background: var(--color-secondary);
    color: var(--color-neutral);

}

.columnas__domicilio .textarea__comentario:focus {
    outline: 2px solid rgba(120, 115, 115, .3);
    border-radius: 5px;
}


/* inicio slider */

.slider-container {
    position: relative;
    width: 100%;
    height: 20em;
    padding: 0 .5em;
    margin-bottom: 1.5em;

}

/* Estilos del slider */
.slider-slide {
    position: relative;
    height: 100%;
    border-radius: 10px;
    transition: opacity 1s ease-in-out;
    box-sizing: content-box;
    overflow: hidden;


}

/* Estilos de las imagenes */
.slider-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-slider {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.img-slider.visible {
    opacity: 1;
}

/* Estilos de los botones de control */
.slider-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Asegurar que los botones estén encima de la imagen */
}


.slider-controls button {
    margin-right: 25px;
    margin-left: 25px;
    background-color: transparent;
    color: var(--color-primary);
    border: 2px solid var(--color-neutral);
    padding: 1em 1.3em;
    font-size: 1em;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.slider-controls button:active {
    background-color: var(--color-neutral);
    transform: scale(1.1);
}

/* fin slider */



/* inicio cartas de la categorias (index) */

.card__container {
    width: 95%;
    /* max-height: 400px; */
    overflow: auto;
    padding: .5em;
    margin: 1em auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: .5em;
    justify-content: space-around;
    justify-items: center;
}

.titulo__categorias {
    height: min-content;
    margin: 1rem;
    /* ocupa toda la columna */
    text-align: center;
    font-family: 'boring-sans-atrial', Tahoma;
    font-size: 4rem;
    grid-column: 1 / -1;
    color: var(--color-primary);
}

.logo-queso {
    padding: .2em;
}

.logo-queso i {
    font-size: 5rem;
}

.card__categoria {
    position: relative;
    width: 18em;
    height: 22em;
    overflow: hidden;
    border: .2em solid var(--color-primary);
    border-radius: 5px;
}

.header__card {
    position: relative;
    width: 100%;
    height: 22rem;
    box-sizing: content-box;
}

.header__card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.boton__categoria {
    position: absolute;
    bottom: 0;
    left: 3rem;
    border: 2px solid var(--color-neutral);
    border-radius: 15px;
    overflow: hidden;
    font-family: 'Boring-Sans-A-Heavy', Tahoma;
}

.boton__categoria h2 {
    margin: 0;

}

.enlace__categoria {
    padding: .6em;
    font-size: 1.3rem;
    border: none;
    color: var(--color-neutral);
    background-color: var(--color-primary);
}

.boton__categoria:active {
    transform: scale(.98);
}


/* fin cartas de la categorias (index) */















/* inicio menu*/


.menu-title {
    margin: 0;
    font-family: "Boring-Sans-A-Light-Italic";
    font-size: 4.8rem;
    text-align: center;
    color: var(--color-primary);
}

.slider {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-primary);

}


.word-container {
    text-transform: capitalize;
    font-family: 'Boring-Sans-A-Heavy';
    font-size: 3.4rem;
    text-align: center;
}


.button {
    padding: .5em;
    background-color: var(--color-primary);
    color: var(--color-neutral);
    font-size: 2rem;
    font-weight: bold;
    border-radius: 50%;
    cursor: pointer;

}


/* cartas del menu */

.card__menu {
    position: relative;
    border: 2px solid var(--color-secondary);
    background-color: var(--color-tertiary-opacity);
    overflow: hidden;
    border-radius: 10px;
    width: 18em;
    height: max-content;
    color: var(--color-primary);
}


.like-button {
    position: absolute;
    top: .5em;
    right: .5em;
    z-index: 20;
    border-radius: 5px;
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-neutral);
    background-color: var(--color-primary);
    letter-spacing: 5px;
    text-decoration: none;
}

.like-button i {
    font-size: 1.8rem;
}

.content__car__menu {
    position: relative;
    width: 100%;
    height: 12em;
    box-sizing: content-box;
}

.content__car__menu img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content__parrafo__agregar {
    padding: .2em;
}

.content__parrafo__agregar p,
.content__parrafo__agregar h2 {
    margin: 0;
}

.content__parrafo__agregar h2 {
    width: 100%;
    height: 30px;
    overflow: hidden;
    font-family: 'moller-use-boldCondensed', sans-serif;
    text-align: center;
}

.content__parrafo__agregar .parrafo__cart,
.content__parrafo__agregar .parrafo__price {
    font-family: 'fuente_footer', sans-serif;

}

.content__parrafo__agregar .parrafo__price {
    margin: .2em 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.content__parrafo__agregar .parrafo__cart {
    font-size: 1rem;
    line-height: 1.2;
}

.agregar__carrito {
    position: relative;
    left: 80%;
    padding: .7em;
    border-radius: 100%;
    background-color: var(--color-primary);
    width: max-content;
}

.add-button {
    color: var(--color-tertiary);
    font-size: 1.8rem;
}

.pie__card {
    background-color: var(--color-primary);
    width: 100%;
    padding: .5em;
    margin-top: 1px;
}



/* fin menu */

/* modal descripcion de productos o seleccion de producto */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: .1em;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;

}

/* Estilos del modal */
.modal-content-menu {
    margin: 10% auto;
    width: 50%;
    height: 70%;
    padding: .7em;
    background-color: rgba(255 255 255 / .2);
    border-radius: 5px;
}



.ladoizq {
    border-radius: 10px;
    overflow: hidden;
}

.content-modal-cart {
    position: relative;
    height: 31em;
    box-sizing: content-box;
    width: 100%;
}

.imagen-cart-modal {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* fin modal descripcion de productos o seleccion de producto */










/* carrito de compra */

.carrito {
    position: fixed;
    top: 0;
    right: -400%;
    width: 360px;
    max-height: 100vh;
    padding: 20px;
    background: var(--color-tertiary);
    transition: right .5s ease;
    z-index: 1010;
}

.carrito.active {
    right: 0;
}

.arib {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1px;
}

.equis {
    border: 2px solid var(--color-primary);
    padding: .2em;
    border-radius: 100%;
    color: var(--color-primary);
    font-size: 1.5rem;
    cursor: pointer;
}

.carrito-tittle {
    margin: .3em;
    font-family: "Boring-Sans-A-Light-Italic";
    font-size: 2rem;
    color: var(--color-primary);
}

.icon__ubicacion {
    color: var(--color-primary);
    /* Color del icono */
    font-size: 2rem;
    margin-right: 1px;
    /* Espacio entre el icono y el texto */
    cursor: pointer;
}

.abaj {
    margin: .5em;
    padding: .5em;
    display: flex;
    border-bottom: 1px solid var(--color-secondary);
}

.ri {
    color: var(--color-primary);
    font-family: "Boring-Sans-A-Light-Italic";
    font-size: 1.2rem;
    margin: 0;

}

/* parte de la mitad del modal */
.compras-content {
    padding: 8px 5px;
    max-height: 300px;
    overflow: auto;
}


.cart-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header__card-img {
    width: 5em;
    height: 4em;
    grid-row: 2/2;
}

.titulo__carta-carrito {
    margin: 0;
    grid-column: -1/1;
}

.parrafo__cart-menu {
    margin: 0;
}




/* parte de abajo del modal */

.cart-box {
    display: grid;
    gap: 1em;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--color-secondary);

}


.parteabajo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

.botones_abajo {
    width: 100%;
    padding-top: 10px;
    border-top: 1px solid var(--color-secondary);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
}

.botones_abajo  a{
    text-decoration: none;
}

.pay-button {
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    padding: 10px 20px;
    border: none;
    font-family: "Boring-Sans-A-Heavy";
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    margin: 0;

}

.subtotal {
    color: var(--color-neutral);
    margin-top: 10px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    padding: 10px;
}

.clear-cart {
    width: 100%;
    padding: .4em;
    margin-top: 5px;
    border: 1px solid var(--color-secondary);
    background-color: rgb(133 33 33 / 0.3);
    text-align: center;
}

.clear-button {
    font-family: "Boring-Sans-A-Heavy";
    text-decoration: none;
    color: var(--color-secondary);
}

.clear-icon {
    color: inherit;
    font-size: 1.4rem;
    margin-right: 10px;
}

.clear-cart:hover .clear-button{
    cursor: pointer;

}

/* estilos de los productos en el carrito */




.detail-box {
    display: flex;
    grid-row: 2/3;
    align-items: baseline;
    gap: 1em;
}

.parrafo__cart {
    font-size: 1rem;
    text-transform: uppercase;
}


.cantidad {
    width: 2.8rem;
    border: 1px solid var(--color-secondary);
    text-align: center;
    font-size: 1rem;
    background: var(--color-secondary);
    color: var(--color-neutral);
}

.cart-remove {
    width: max-content;
    font-size: 24px;
    color: var(--color-secondary);
    cursor: pointer;
    grid-row: 3/2;
    grid-column: 3/3;
}

#contador-carrito {
    position: absolute;
    top: 70%;
    right: 0;
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    padding: .2em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/*Darinson estuvo aqui*/
.pay-button:hover,
.subtotal:hover {
    background-color: var(--color-primary);
}


/* fin carrito de compra */


/* inicio factura */



/* contenedor principal */
.contenedor {
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;
}

.contenedor__principal__factura {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Estilos generales para el contenedor de factura */
.contenedor__factura {
    width: 450px;
    height: max-content;
    border: 2.5px solid var(--color-secondary);
    background-color: var(--color-tertiary);
    padding: 1em;
}

/* Estilos para el título del encabezado */
.titulo__header {
    font-family: "boring-sans-atrial";
    font-weight: bold;
    font-size: 3rem;
    color: var(--color-secondary);
    margin: 0px;
}

/* Estilos para texto general */
.texto {
    font-family: "boring-sans-atrial";
    color: var(--color-secondary);
    font-size: 1.2rem;
    font-weight: bold;
    margin: 8px;
}

/* Separador entre secciones */
.separador {
    width: 100%;
    padding: 10px 0;
    border-bottom: 3px solid var(--color-primary);
}

/* Estilos para los campos de entrada de formulario */
.form_control {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control__input {
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: var(--color-secondary);
    outline: none;
    border-bottom: 1px solid var(--color-secondary);
}

.control__textarea {
    width: 90%;
    height: 60px;
    resize: none;
}

/* Estilos para los botones */
.input__radio {
    width: 20px;
    height: 20px;
    accent-color: var(--color-secondary);
}

.input__text {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid var(--color-neutral);
    outline: none;
    text-align: center;
}

/* Estilos para la subinformación */
.sub__informacion {
    margin: 10px;
}

.sub__informacion h2 {
    display: inline-block;
    color: var(--color-secondary);
}

.sub__informacion h3 {
    font-size: 1.4rem;
    color: var(--color-secondary);
    margin: 8px;
}

.sub__informacion a {
    font-family: "boring-sans-trial-bold";
    text-decoration: none;
    font-size: 1.3rem;
}

.sub__informacion i {
    color: var(--color-secondary);
    font-size: 2rem;
    padding-right: 40px;
}

/* Estilos para el cupón */
.sub__cupon {
    display: flex;
    justify-content: space-around;
}

.btn__val {
    width: 110px;
    height: 50px;
    font-family: "boring-sans-trial-bold";
    font-size: 1.2rem;
    border: none;
    border-radius: 20px;
    color: var(--color-neutral);
    background-color: var(--color-neutral);
}

.btn__val:hover {
    background: var(--color-secondary);
    cursor: pointer;
}

/* Estilos para la sección de pago */
.pago {
    height: max-content;
}

.titulos__pago {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subcontenedor__pago {
    display: flex;
    gap: 20px;
}

.metodo__pago {
    display: flex;
    flex-direction: column;
}

/* Estilos para las tarjetas de pago */
.tarjeta {
    width: 250px;
    height: 60px;
    background-color: var(--color-secondary);
    border-radius: 10px;
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.tarjeta i {
    font-size: 1.5rem;
    border-radius: 50%;
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    display: flex;
    justify-content: center;
}

.center {
    display: flex;
    align-items: center;
}

/* detalle Factura */


.detafac {
    width: 370px;
    height: 450px;
    padding: 1em;
    padding-bottom: 4em;
    position: relative;
    background-color: var(--color-tertiary);
    border: 2px solid var(--color-primary);
}

.detafac h1 {
    margin: 0;
    text-align: center;
    font-family: 'Boring-Sans-A-Light-Italic', sans-serif;
    font-size: 2rem;
    color: var(--color-secondary);
}

.tbl__detalle__factura {
    width: 100%;
    height: 80%;
    margin-top: 10px;
    border-spacing: 0;
}

.tbl__detalle__factura tr {
    outline: 1px solid var(--color-primary);
}


.tbl__contenido-titulo {
    font-family: 'Boring-Sans-A-Light-Italic', sans-serif;
    font-size: 1.3rem;
    color: var(--color-primary);
}

.tbl__contenido-text {
    text-align: center;
    font-family: "fuente_footer", Tahoma;
    font-size: 1.3rem;
    color: var(--color-primary);
    position: relative;
    z-index: 15;
}

.tbl__contenido-producto {
    max-height: 150px;
    display: block;
    position: relative;
    top: 15px;
    overflow: auto;
}

.tbl__contenido-producto p {
    margin: 0;
}

.btnrp-container {
    position: absolute;
    bottom: -20px;
    left: 25%;
    cursor: pointer;

}

.btn-rp {
    font-family: "moller-use-boldCondensed";
    font-size: 1.8rem;
    font-weight: 300;
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    border: none;
    border-radius: 20px;
    padding: .5em;

}


/* fin factura */



/* inicio sobre nosotros */

.contenedor__sobre__mi {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title {
    font-family: "Boring-Sans-A-Heavy", Tahoma;
    font-size: 3rem;
    letter-spacing: 5px;
    text-align: center;
    color: var(--color-primary);
}

/* se agrego como remplazo de las propiedades anteriores */
.section-cart-sobre-mi {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-container {
    width: 90%;
    padding: 1em;
}

.card__fotos {
    /* width: 20em; */
    width: 100%;
    height: 20em;
    border: 2px solid var(--color-secondary);
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    overflow: hidden;
    box-sizing: content-box;
}

.card__fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-cart-sobre-mi .card-parrafo {
    /* max-width: 400px; */
    max-height: 320px;
    margin-top: 10px;
    border: 3px solid var(--color-secondary);
    background-color: var(--color-neutral);
    overflow: auto;
}

.contenedor__parrafo {
    padding: .5em;
}

.card__texto__bordes h2 {
    margin: 0;
    text-align: center;
    font-size: 2.8rem;
    font-family: "Boring-Sans-A-Heavy";
    border-bottom: 3px solid var(--color-tertiary);
    color: var(--color-primary);
}

.card__texto__bordes .parrafo {
    margin: 0;
    padding: .5em;
    font-size: 1.2rem;
    text-align: justify;
    color: var(--color-secondary);
}



/* fin sobre nosotros */



/* perfil Usuario */

.contenedor__info__superior {
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 2em;
}

.form__submit {
    margin: 8px;
    padding: .7rem 2em;
    border: none;
    border-radius: 10px;
    font-family: "Boring-Sans-A-Heavy", sans-serif;
    font-size: 1.2rem;
    background-color: var(--color-secondary);
    color: var(--color-neutral);
    cursor: pointer;
}


.contenedor__info__superior .bi-person-fill {
    font-size: 10rem;
    color: var(--color-secondary);
}

.form__control__perfil {
    margin-left: 1px;
    padding: 1em;
    background-color: var(--color-tertiary-opacity);
}

.form__title,
.form__subtitle {
    color: var(--color-secondary);
    font-family: "Boring-Sans-A-Light-Italic";
    margin: 0;

}

.form__title {
    font-size: 6rem;
}

.form__subtitle {
    margin-bottom: 1em;
    text-align: center;
    font-size: 3rem;

}

.form__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.form__group {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.form__group i {
    margin-top: 0.3rem;
    font-size: 1.5rem;
}

.form__group .form__input {
    width: 500px;
    height: 2.5em;
    background: none;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.5em;
    border: 2px solid var(--color-secondary);
    font-family: "fuente_footer", sans-serif;

}

/*cambiar color de */

.form__input:focus {
    outline: 2px solid var(--color-secondary);
}

.form__group .bi {
    margin-right: 1rem;
    color: var(--color-secondary);
    font-size: 2rem;
}

/* fin perfil usuario */



/* modal editar perfil */

.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.custom-modal-content {
    position: relative;
    width: 90%;
    padding: 0.5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--color-tertiary);
    margin: 10em auto;

}

.custom-close {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-neutral);
    border-radius: 50%;
}



/* estilos del formulario */

.form__control__perfil-dos {
    width: 90%;
    border-radius: 10px;
}


.form__container-dos {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}


.form__title-dos {
    font-size: 2rem;
    color: var(--color-primary);
    font-size: 7rem;
}

.form__group-dos {
    width: 90%;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: .5em;
}

.form__group-dos i {
    /* margin-right: 10px; */
    color: var(--color-primary);
    font-size: 2.5rem;
}

.form__input-dos {
    width: 60%;
    margin: 10px;
    margin-bottom: 10px;
    height: 2.5rem;
    text-align: left;
    padding-left: 15px;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid var(--color-primary);
}


.form__input-dos:focus {
    outline: 2px solid var(--color-primary);
    color: var(--color-primary);
}

.form__submit-editar:active{
    background-color: var(--color-primary-opacity);
    transform: scale(1.1);
}

/*fin del  modal editar perfil */














/* modal Historial */

.contenedor__card__historia{
    max-height: 400px;
    overflow: auto;
}

.productos1 {
    margin: 0;
    color: var(--color-secondary);
    font-family: "Boring-Sans-A-Light-Italic";
    text-align: center;
    font-size: 3rem;
}

/* Estilos para el modal */
.modal__historial {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 30;
}

.modal-content {
    width: 80%;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: var(--color-tertiary);
    transform: translate( 0, 25%);
}

.close {
    position: absolute;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: var(--color-primary);
    color: var(--color-neutral);
    border-radius: 50%;
    top: 5px;
    right: 5px;
}


.cards__modal__historial{
    width: 15em;
}


/* fin modal historil */





/* informacion legal */

.container__informacion__legal {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 8px;
}

.subcontenedor__informacion__legal {
    width: 100%;
    padding: .5em;
    text-align: center;
    border-bottom: 3px solid var(--color-primary);
}

.main-title {
    margin: 0;
    font-family: "Boring-Sans-A-Light-Italic";
    font-size: 3rem;
    color: var(--color-primary);
}

.sub-title {
    font-family: "Boring-Sans-A-Heavy";
    color: var(--color-primary);
    font-size: 18px;
    margin-bottom: 20px;


}

.legal-link {
    text-decoration: none;
    color: var(--color-secondary);
    transition: color 0.3s ease;

}


/* fin informacion legal     */



/* inicio del footer */

.footer {
    width: 100vw;
    padding: 1em 2em;
    display: flex;
    background-color: var(--color-primary);
    font-family: 'fuente_footer', sans-serif;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: var(--color-neutral);
    overflow: hidden;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__nav .titulo {
    font-size: 1.5rem;
    margin: 0;
    color: var(--color-neutral);
}

.footer__nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--color-neutral);

}

.copy {
    font-weight: bold;
}

.redes__sociales {
    position: relative;
    display: flex;
    text-align: center;
    gap: 1em;

}

.redes__sociales a {
    border: 2px solid var(--color-neutral);
    text-decoration: none;
    color: inherit;
    width: 3.5em;
    padding: .3rem;
    border-radius: 10px;
}

.redes__sociales i {
    font-size: 2.5em;
}

/* fin del footer */

/* responsive */


@media screen and (max-width:835px) {

    /* menu hamburguesa */
    .navegacion__header {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        min-width: 35vw;
        opacity: 1;
        padding: 1rem;
        visibility: hidden;
        flex-direction: column;
        justify-content: normal;
        z-index: 10;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .6);
        background-color: var(--color-primary);

    }

    .navegacion__header ul {
        padding: .5em;
        flex-direction: column;
        align-items: center;
        gap: 5em;
    }

    .navegacion__header.visible {
        display: flex;
        gap: 2em;
        visibility: visible;
        transition: .4s ease-out;
    }

    .desplegar__menu {
        display: block;
    }

    .cerrar__menu {
        position: relative;
        left: 3em;
        width: 4em;
        height: 4em;
        display: block;
    }


    .fondo__contenedor__logo {
        bottom: 13em;
    }




    /* modal historia */
    .cards__modal__historial .card {
        flex: 0 0 calc(50% - 20px);
    }



    /* contactanos */
    .contenedor_contacto {
        width: 95%;
    }

    .contenedor_descripcion_contacto {
        width: 50%;
        height: 39rem;
        margin-left: 20px;
        font-size: 0.9rem;
    }

    .contenedor_formulario_contacto {
        width: 40%;
        margin-right: 10px;
    }

    /* fin de contactanos */


    .footer {
        gap: 2em;
    }

}


@media (max-width: 768px) {


    .fondo__contenedor__logo {
        left: 30%;
        width: 15em;
        height: 15em;
        bottom: 0;
    }

    .contenedor {
        width: 95%;
        padding-bottom: 3em;
        align-items: center;
        flex-direction: column;
    }

    .card__texto__bordes h2 {
        font-size: 2rem;
    }

    /* perfil de usuario */

    .form__group {
        width: 90%;
    }

    .form__group .form__input {
        width: 100%;
    }
    .productos1 {
        font-size: 2.5rem;
    }




    /* fin contactanos */



    /* footer */
    .footer {
        overflow: hidden;
    }
}


@media (max-width: 500px) {

    .fondo__contenedor__logo {
        left: 10%;
        width: 12em;
        height: 12em;
    }


    .boton-icon {
        font-size: 1rem;
    }

    /* contenido cart */
    .titulo__categorias {
        font-size: 3rem;
    }

    .logo-queso i {
        font-size: 4rem;
    }

    .card__container {
        gap: 1em;
    }

    .card__categoria {
        width: 14em;
        height: 22em;
    }

    .boton__categoria {
        left: 1.5rem;
    }

    .contenedor__factura {
        width: 100%;
    }

    .detafac {
        width: 100%;
    }

    .titulo__header {
        font-size: 2.3rem;
    }

    .tarjeta {
        width: 150px;
    }

    .main-title {
        font-size: 2rem;
    }

    /* perfil */

    .modal-content-menu {
        margin-top: 40%;
        height: 40%;
        width: 100%;
    }

    .content-modal-cart {
        height: 16em;
    }

    .form__title {
        font-size: 4rem;
    }

    .contenedor__info__superior .bi-person-fill {
        font-size: 5rem;
    }

    .form__submit {
        padding: .7rem 1em;
        font-size: 1rem;
    }

    /* productos */


    .word-container {
        font-size: 2rem;
    }


    .button {
        padding: .3em;
    }

    /* fin productos */








    


    /* modal reservas */
    .contenedor__reserva {
        top: 60%;
        width: 350px;
    }


    .columnas input {
        width: 20rem;
    }


    .columnas .textarea__asunto,
    .columnas .textarea__comentario {
        width: 20rem;
    }

    .filas {
        grid-template-columns: repeat(1, 1fr);
    }

    .filas input {
        width: 20rem;
    }

    /* fin modal reservas */

    /* modal de domicilio */

    .contenedor__domicilio {
        top: 60%;
        width: 350px;
    }

    .columnas__domicilio {
        width: 20rem;
        gap: 2rem;
    }

    .columnas__domicilio .textarea__comentario {
        width: 20rem;
    }


    .columnas__domicilio select {
        width: 20rem;
    }

    .filas select {
        width: 20rem;
    }

    /* fin del modal de domicilio */

    /* modales de login */
    .modal-content-perfil,
    .modal_content_recuperar_contraseña_email,
    .modal_content_recuperar_contraseña_codigo,
    .modal_content_recuperar_contraseña {
        width: 80%;
    }


}

@media (max-width: 321px) {

    .header-container {
        padding: .2em .4em;
    }

    .logo {
        height: 100%;
        width: 3em;
        padding: .1em;
    }

    .boton-icon {
        font-size: .1rem;
        padding: 2em;
    }

    .desplegar__menu,
    .cerrar__menu {
        width: 2.5em;
        height: 2.5em;
        padding: .2rem;
    }

    .desplegar__menu i,
    .cerrar__menu i {
        font-size: 1.3rem;
    }



    .navegacion__header ul {
        gap: 3em;
    }


    .card__menu {
        width: 14em;
    }

    .content__car__menu {
        height: 10em;
    }

    .content__parrafo__agregar .parrafo__price {
        font-size: 1.2rem;
    }

    .content__parrafo__agregar .parrafo__card {
        font-size: .9rem;
        line-height: 0;
    }

    .agregar__carrito {
        padding: .4em;
    }


    .carrito {
        width: 100%;
    }

    /* slider de menu */
    .word-container {
        font-size: 1.5rem;
    }


    .button {
        padding: .3em;
    }

    .button i {
        font-size: 1.5rem;
    }

    .cards__modal__historial{
        width: 11em;
    }


    .productos1 {
        font-size: 1rem;
    }

    /* perfil */
}